section {
    padding-top: 2 0vh;
    height: 108vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#about {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 11  0vh;
}
.index {
    z-index: -1;
    color: black !important;
}

.vertical-timeline-element--work {
    color: red !important;
}