/* section {
    padding-top: 20vh;
    height: 196vh;
    margin: 0 20rem;
    
} */

#coding-profile {
    padding-top: 25vh;
    height: 130vh;
    
}


.index {
    z-index: 1;
}


.links{
    justify-content: right !important;
    background-color: rgb(89, 158, 215);
    padding: 0.7rem 0.7rem;
    border-radius: 20rem;
    border: 20px red;
    transition: color 0.3 ease;
    cursor: pointer;
}


.links:hover {
    background-color: transparent !important;
    color: #483D8B !important;
}
/* a {
    color: red;
} */

.links:hover .icon {
    color: green;
}




