/* section {
    padding-top: 20vh;
    height: 196vh;
    margin: 0 20rem;
    
} */

#coding-profile {
    padding-top: 25vh;
    height: 90vh;
    
}


.index {
    z-index: -1;
}
/* a {
    color: red;
} */

