section {
    padding-top: 20vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.profile-pic-rotate {
    display: flex;
    box-shadow: inset 0 0 0 91px rgba(83, 81, 81, 0.3);
    order: 1;
    justify-self: center;
    height: 400px;
    width: 400px;
    margin: auto 0;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
}

.section__text {
    padding-top: 20vh;
    height: 70vh;
    align-self: center;
    text-align: center;
}

.section__text p {
    text-align: center;
    font-family: poppins,sans-serif;
}

.section-text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
  