section {
    padding-top: 20vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.profile-pic-rotate {
    display: flex;
    box-shadow: inset 0 0 0 91px rgba(83, 81, 81, 0.3);
    order: 1;
    justify-self: center;
    height: 400px;
    width: 400px;
    margin: auto 0;
    animation: profile__animate 18s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
}

.section__text {
    padding-top: 20vh;
    height: 70vh;
    align-self: center;
    text-align: center;
}

.section__text p {
    text-align: center;
    font-family: poppins,sans-serif;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(91, 88, 88);
    
}

.section__text__p2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}
  
  
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
  
.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}
  
.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}
  
.btn-color-1,
.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}
  
.btn-color-1:hover {
    background: rgb(0, 0, 0);
}
  
.btn-color-2 {
    background: none;
}
  
.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}
  
.btn-container {
    gap: 1rem;
}
  