/* section {
    padding-top: 20vh;
    height: 108vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
} */

#skills {
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__text__p1 {
    font-family: poppins,sans-serif;
    
}

.title {
    font-family: poppins,sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-top: -1rem;
}

.skills__img__container  { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    align-items: center;
    gap: 1rem;

    
}

.skills__img {
    text-align: center;
}

.skills__img img{
    border-radius: 400px;
    width: 100px;
}

.skills_names {
    font-family: poppins,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(69, 69, 69);
}

@media screen and (max-width: 600px){
    #skills {
        padding-top: 20vh;
        height: 108vh;
    }

    .skills__img__container  {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        
        
    }
    .skills__img {
        text-align: center;
    }
    
    .skills__img img{
        border-radius: 400px;
        width: 100px;
    }

    
}